/* @import url(http://fonts.googleapis.com/css?family=Droid+Serif); */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(droidserif_v6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.reveal a, .reveal a:hover { color: #b74025; font-weight: bold; }
.reveal blockquote { background-color: #eeeeee; border: 1px solid #000000; font-size: 1em; font-style: normal; padding: 0.25em 0.5em; text-align: left; }
.reveal blockquote:before, .reveal blockquote:after { content: '"'; }
.reveal cite:before { content: "~ "; }
.reveal strong { font-weight: bolder; text-decoration: underline; }
.reveal ul>li { line-height: 1.5em; padding-top: 0.5em; }
.reveal tr>th, .reveal tr>td { font-size: 0.5em; }
.reveal, .reveal h1, .reveal h2 { font-family: "Droid Serif", serif; text-transform: none; margin-bottom: 1em; }
.reveal .controls button.navigate-left, .reveal .controls button.navigate-left.enabled, .reveal .controls button.navigate-left.enabled:hover { border-right-color: #b74025; }
.reveal .controls button.navigate-right, .reveal .controls button.navigate-right.enabled, .reveal .controls button.navigate-right.enabled:hover { border-left-color: #b74025; }
.reveal .controls button.navigate-up, .reveal .controls button.navigate-up.enabled, .reveal .controls button.navigate-up.enabled:hover { border-bottom-color: #b74025; }
.reveal .controls button.navigate-down, .reveal .controls button.navigate-down.enabled, .reveal .controls button.navigate-down.enabled:hover { border-top-color: #b74025; }
.reveal section img { border: 0; box-shadow: none; }
.reveal .progress span { background-color: #91a2d0; }
.reveal pre { box-shadow: 0px 0px 0px; width: 100%; }

#slide-title { padding: 0; }
#slide-title h1 { color: #1b4520; font-size: 2em; font-weight: 600; padding: 0; margin: 30px 0; }
#slide-title .byline { clear: both; color: #b74025; display: block; font-size: 1em; font-weight: bold; letter-spacing: 0.1em; }
#slide-title img { margin: 2em 0 0 0; }
.reveal .twitter { position: absolute; bottom: 10px; left: 10px; font-size: 0.8em; }
.reveal .twitter a { color: #00acee; }
