/* Some base CSS customizations I've found useful -- feel free to remove them if you don't need them */
.deck-container h2 { border-bottom: 0; font-size: 2em; }
.deck-container img { display: inline; }
.slide { font-size: 120% !important; }
.slide h2 { width: 100%; text-align: center; }

/* Your own custom CSS goes here */
body.deck-container { overflow: hidden; background-color: #222222; }
.deck-container .slide { padding: 0 1em; }
.two-col-left, .two-col-right { text-align: center; }
.two-col-left { float: left; width: 50%; }
.two-col-right { float: right; width: 50%; }
.center { text-align: center; }
.left { text-align: left; }
.underline { text-decoration: underline; }
.toolbar { display: none; }
.deck-container .slide h1, .deck-container .slide h2, .deck-container .slide h3 { font-family: 'Droid Serif', serif; color: #4c5a6a; text-align: center; }
.deck-container .slide a { color: #4c5a6a !important; font-weight: bold; text-decoration: underline; }
.deck-container .slide { background-color: #f0f0f0; } 
.deck-container .slide blockquote, .deck-container .slide blockquote cite { font-size: 1em; font-weight: normal; }
.deck-container .slide blockquote cite { color: #666; }
.slide th { text-align: left; }
.slide td { padding: 5px; }
.slide h3 { margin-bottom: 1em; }
#title-slide { background-color: #ffffff; padding: 0; background-position: center 90%; background-image: url(../img/conference-logo.png); background-repeat: no-repeat; }
#title-slide h1 { width: 100%; font-size: 2.5em; text-align: center; border: 0; padding: 0; margin-left: auto; margin-right: auto; background-color: #4c5a6a; color: #ffffff; position: absolute; top: 0; margin-top: 15%; }
#title-slide h2 { color: #0099cc; position: absolute; margin-top: 20%; }
