body {
    background-color: #dfdfdf;
    color: #360409;
    font-family: "Lucida Sans", "Lucida Console", Verdana, Arial, sans-serif !important;
    height: 100%;
    margin: 16px 24px;
    width: 100%;
}

body, .deck-container, .slide {
    overflow: hidden;
    font-size: 1.2em;
}

.two-col-left {
    float: left;
    width: 50%;
}

.two-col-right {
    float: right;
    width: 50%;
}

.center {
    text-align: center;
}

.slide .right {
    display: inline;
    float: right;
    padding-left: 10px;
}

.strike {
    text-decoration: line-through;
}

.slide img.vertical {
    margin-top: 40px;
}

.slide a {
    color: #999999;
}

.slide h2, .slide a, .slide p, .slide li {
    color: #360409;
}

.slide ul ul, .slide ol ul {
    margin-bottom: 0;
}

.slide ol {
    margin-left: 3em;
}

.slide ul {
    margin-right: 3em;
}

.slide h1 {
    font-size: 3em;
}

.slide h2 {
    border: 0;
    padding-bottom: 5px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.slide strong {
    text-decoration: underline;
}

.slide table {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.slide th, .slide td {
    padding: 10px;
    border: 1px solid #000000;
}

.slide th {
    background-color: #000000;
    color: #ffffff;
}

.slide tr {
    border: 0;
    margin: 0;
    padding: 0;
}

.slide td.nowrap {
    white-space: nowrap;
}

#title-slide h1 {
    color: #360409;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.deck-container {
    width: 90%;
}

.slide .small {
    font-size: 0.5em;
}
